/**Fonts**/

$title-font: 'Playfair Display', serif;
$text-font: 'Roboto', sans-serif;
$button-font: 'Hammersmith One', sans-serif;


/**Colors**/

$light-text-color: #ffffff;
$text-color: #413d4b;
$accent-color: #00e0d0;