
@font-face {
  font-family: 'HammersmithOne-Regular';
  src: url('HammersmithOne-Regular.eot?#iefix') format('embedded-opentype'),
  url('HammersmithOne-Regular.woff') format('woff'),
  url('HammersmithOne-Regular.ttf')  format('truetype'),
  url('HammersmithOne-Regular.svg#HammersmithOne-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
